
.popup {
    animation-duration: 0.4s;
    position: absolute;
    overflow: hidden;
    z-index: 10000;
  }
  
  .popup li {
    clear: both;
    transition: all .3s;
    white-space: nowrap;
    -webkit-transition: all .3s;
  }